apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: pod-labeler
  namespace: ready-check
rules:
- apiGroups: [""]
  resources: ["pods"]
  resourceNames: [
    {{ include "ibm-mq.pod0.name" . }},
    {{- if .Values.queueManager.nativeha.enable }}
    {{ include "ibm-mq.pod1.name" . }},
    {{ include "ibm-mq.pod2.name" . }}
    {{- end }}
    ]
  verbs: ["get", "list","patch"]
