{{- if .Values.readinessProbe.useLabelPatcher }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: label-patcher
  labels:
    {{- include "ibm-mq.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ["pods"]
  resourceNames: [
    {{ include "ibm-mq.pod0.name" . }},
    {{- if .Values.queueManager.nativeha.enable }}
    {{ include "ibm-mq.pod1.name" . }},
    {{ include "ibm-mq.pod2.name" . }}
    {{- end }}
    ]
  verbs: ["get", "list","patch"]
{{ end -}}
